body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}


.container {
	width: 1170px;
	margin: 0 auto;
}
.header {
	background: url('../img/photos.jpg') no-repeat center top / cover;
}
header a {
	color: #000000;
}
.panel {
	display: flex;
	align-items: center;
	padding-top: 18px;
}
.logotype {
	margin-right: 399px;
}
.menu {
	display: flex;
}
.home {
	font-style: normal;
	font-weight: bold;
}	
.menu li a{
	text-decoration: none;
	font-size: 18px;
}
.menu li {
	list-style-type: none;
	margin-right: 49px;
}
.tel {
	font-size: 18px;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	padding-left: 1px;
}
.phone {

}
.intro {
	font-size: 50px;
	padding-top: 225px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 21px;
	margin-top: 0px;
	height: 65px;
}
.podintro {	
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.knopka {
	padding-top: 36px;
}
.end {
	padding-top: 310px;
	color: whitesmoke;
}